<alert-component *ngIf="error" [message]="error" [header]="'Error..'" (onClose)="errorHandler()"></alert-component>
<main class="w-full flex flex-col items-center mt-10 mb-20">
  <section class="text-center font-bold">
    <h1>Find your next stay</h1>
    <p>Search low prices on hotels, homes and much more...</p>
  </section>
  <section class="w-[80%] flex mt-5">
    <section class="search-bar-section w-full flex bg-white">
      <section-1 class="w-[30%]" (onSelectLocation)="onSelectLocation($event)"></section-1>
      <section-2 class="w-[30%]" (dateEmitter)="onSelectDate($event)"></section-2>
      <section-3 class="w-[30%]" (optionEmitter)="onSelectOption($event)"></section-3>
      <section (click)="onSearch()">Search</section>
    </section>
  </section>
  <section class="w-full">
  <router-outlet></router-outlet>
  </section>

</main>
