<main class="w-full flex flex-col">
  <section class="justify-center pt-10">
    <div class="w-[15em] h-[15em] rounded-full  bg-blue-500 relative" id="imageWrapper"><img  [src]="'https://media.licdn.com/dms/image/D5603AQHxmCvwRNPk2Q/' +
    'profile-displayphoto-shrink_200_200/0/1693163573691?e=2147483647&v'+
    '=beta&t=PdzUsE_ie9cc1VXD7AIoZlp267KlEcUTjrM5pW94KxE'" alt="" class="w-full rounded-full">
      <p class="absolute bottom-0 right-2.5 text-transparent font-bold cursor-pointer">Edit</p>
    </div>
  </section>
  <section class="justify-center  text-2xl">
    <section id="profileDetail">
    <section><p>NIC</p> <p>:</p> <p>970490078V</p></section>
    <section><p>Name</p> <p>:</p> <p>Dilshan</p></section>
    <section><p>Address</p> <p>:</p> <p>Gampaha</p></section>
    <section><p>Email</p> <p>:</p> <p>Dilshan@gmail.com</p></section>
    <section><p>Phone Number</p> <p>:</p> <p>0752778752</p></section>
    <section> <button mat-raised-button color="primary">Edit</button></section>
    </section>
  </section>


</main>

