<main class="w-full h-full">
  <section class="w-full h-full flex flex-col justify-center">
    <section class="w-full flex justify-center items-center h-1/2 mb-10">
      <section class="w-[80%]  rounded-xl shadow-2xl p-5 bg-white pb-10">
      <table class="w-full">
        <thead>
        <tr>
          <th>Description</th>
          <th>Qty Desc</th>
          <th></th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody class="w-full">
        <tr><th>*Hotel Price</th> <td></td> <td></td><td></td></tr>
        <tr><td>Room x Option x </td> <td>{{payment?.room+" x "+payment?.hotelOption!.toFixed(2)+" x "}}</td> <td></td><td></td></tr>
        <tr class="border-b-[12px] border-transparent">
          <td>Days</td>
          <td>{{payment?.countDay}}</td>
          <td></td>
          <td>{{payment?.hotelAmount!.toFixed(2)}}</td>
        </tr>
        <tr class="font-medium bg-total">
          <td>Hotel Amount</td> <td>{{payment?.countDay+" x "+(payment?.hotelAmount! / payment?.countDay!).toFixed(2)}}</td>
          <td></td>
          <td>{{payment?.hotelAmount!.toFixed(2)}}</td></tr>
          <!--Vehicle Payment-->
        <tr>
          <th>*Vehicle Price</th>
        </tr>
        <tr>
          <td>Location KM</td>
          <td>{{payment?.travelArea?.fullKM}}KM</td>
        </tr>
        <tr><td>Fee 1Day x Days</td> <td>{{selectVehicle?.fee1Day!.toFixed(2)+" x "+payment?.countDay}}</td>
          <td></td><td>{{selectVehicle?.fee1Day!*payment?.countDay!}}</td></tr>
        <tr class="border-t-8 border-transparent">
          <td>Fee 1KM x Location KM</td> <td>{{selectVehicle?.fee1KM!.toFixed(2)+" x "+payment?.travelArea?.fullKM}}</td>
          <td></td>
          <td>{{(selectVehicle?.fee1KM! *payment?.travelArea!.fullKM).toFixed(2)}}</td>
        </tr>
        <tr>
          <td>Fuel 1KM x Location KM</td>
          <td>{{selectVehicle?.fuel1KM!.toFixed(2)+" x "+payment?.travelArea?.fullKM}}</td>
          <td></td>
          <td>{{(selectVehicle?.fuel1KM!*payment?.travelArea?.fullKM!).toFixed(2)}}</td>
        </tr>
        <tr class="font-medium border-t-[12px] border-transparent">
          <td>Vehicle Cost</td>
          <td>{{(payment?.vehicleAmount! / payment?.vehicleCount!).toFixed(2)}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr class="font-medium border-b-[12px] border-transparent">
          <td>Vehicle Count x <br>Vehicle Cost</td>
          <td><br>{{payment?.vehicleCount+" x "+(payment?.vehicleAmount! / payment?.vehicleCount!).toFixed(2)}}</td>
          <td></td>
          <td><br>{{payment?.vehicleAmount!.toFixed(2)}}</td>
        </tr>
        <tr class="font-medium bg-total">
          <td>Vehicle Amount</td>
          <td></td>
          <td></td>
          <td>{{payment?.vehicleAmount!.toFixed(2)}}</td>
        </tr>
        <!--Travel Charges-->
        <tr><th>*Travel Charges</th> <td></td> <td></td><td></td></tr>
        <tr><td>-Count Day</td> <td>{{payment?.countDay}}</td><td></td> <td></td></tr>
        <tr><td>-Count Night</td> <td>{{payment?.countDay!-1}}</td> <td></td><td>{{'0.00'}}</td></tr>

            <!--Total Amount-->
        <tr><th></th> <td></td><td></td> <td></td></tr>
        <tr class="font-bold bg-total text-blue-800"><th>*Travel Charges</th><td></td> <td></td> <td>{{totalAmount.toFixed(2)}}</td></tr>
        </tbody>

      </table>
      </section>

    </section>
    <section class="w-full flex justify-center items-center h-1/2">
      <section class="w-[80%]  rounded-xl shadow-2xl p-5 flex flex-col items-center bg-white" id="payment-section">
         <section>
           <section class="w-[30%]">
           <img src="/assets/img/visa.png" alt="visa img" class="w-[80%]">
           </section>
          <section class="flex flex-col justify-center font-bold">
            <h1 class="text-blue-800 text-xl">RS{{totalAmount}}</h1>
            <p>subscription payment</p>
          </section>
         </section>
         <section>
           <section class="w-[80%] ">
             <label for="cardNumber" class="font-bold">Card Number</label>
             <input  placeholder="8641 5462 5856 8546"  ngModel name="cardNumber"  required id="cardNumber">
           </section>
           <section class="w-[20%]">
             <label for="cvc" class="font-bold">CVC</label>
               <input placeholder="678" email ngModel name="cvc"  required id="cvc" >
           </section>
         </section>
        <section>
           <section class="w-[80%] ">
             <label for="holderName" class="font-bold">Holder Name</label>
             <input  placeholder="Dilshan Maduranga"  ngModel name="holderName"  required id="holderName" >
           </section>
         </section>
        <section>
          <section class="w-[80%]">
          <label for="exDate" class="font-bold">Expire Date</label>
           <input type="date" [min]="minDate" id="exDate">
          </section>
         </section>
         <section>
           <section class="w-full flex justify-center">
             <div class="flex font-bold w-full justify-center">
            <p>2021</p><p>:</p><p>{{1}}</p><p>:</p><p>{{10}}</p><p>:</p><p>{{55}}</p>
             </div>
           </section>
         </section>
        <section>
          <section class="w-full flex justify-center">
            <button mat-flat-button color="accent" class="w-full" disabled>Pending Payment</button>
          </section>
        </section>
      </section>
    </section>

  </section>

</main>
