<main class="w-full h-full">
  <section class="w-full h-full flex flex-col">
    <section class="w-full flex justify-center items-center h-1/2">
      <section class="w-[80%]  rounded-xl shadow-2xl p-5">
      <table class="w-full">
        <thead>
        <tr>
          <th>Description</th>
          <th>Qty</th>
          <th></th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
         <td>Hotel Price</td> <td>{{hotelOption}}</td><td></td>
        </tr>
        <tr>
         <td>Vehicle Price</td> <td>{{hotelOption}}</td><td></td>
        </tr>
        <tr>
         <td>Travel Charge Price</td> <td>{{hotelOption}}</td><td></td>
        </tr>
        <tr>
         <td>Guide Price</td> <td>{{hotelOption}}</td><td></td>
        </tr>
        <tr>
         <td>Total</td> <td>{{hotelOption}}</td><td></td>
        </tr>
        </tbody>

      </table>
      </section>

    </section>
    <section class="w-full flex justify-center items-center h-1/2">
      <section class="w-[80%]  rounded-xl shadow-2xl p-5 flex flex-col items-center" id="payment-section">
         <section>
           <section class="w-[30%]">
           <img src="/assets/img/visa.png" alt="visa img" class="w-[80%]">
           </section>
          <section class="flex flex-col justify-center font-bold">
            <h1 class="text-blue-800 text-xl">RS{{'50.00'}}</h1>
            <p>subscription payment</p>
          </section>
         </section>
         <section>
           <section class="w-[80%] ">
             <label for="cardNumber" class="font-bold">Card Number</label>
             <input  placeholder="8641 5462 5856 8546"  ngModel name="cardNumber"  required id="cardNumber">
           </section>
           <section class="w-[20%]">
             <label for="cvc" class="font-bold">CVC</label>
               <input placeholder="678" email ngModel name="cvc"  required id="cvc" >
           </section>
         </section>
        <section>
           <section class="w-[80%] ">
             <label for="holderName" class="font-bold">Holder Name</label>
             <input  placeholder="Dilshan Maduranga"  ngModel name="holderName"  required id="holderName" >
           </section>
         </section>
        <section>
          <section class="w-[80%]">
          <label for="exDate" class="font-bold">Expire Date</label>
           <input type="date" [min]="" id="exDate">
          </section>
         </section>
         <section>
           <section class="w-full flex justify-center">
             <button mat-flat-button color="accent" class="w-full">Complete Payment</button>
           </section>
         </section>
      </section>
    </section>

  </section>

</main>
