thead th{
  color: rgba(20, 20, 190, 0.85);
  text-align: start;
}
thead>tr>:last-child{
  text-align: center;

}
tbody th{
  font-weight: bold;
  text-align: start;
}
tbody>tr>:nth-child(1){
  width: 40%;
}
tbody>tr>:nth-child(2){
  width: 20%;
}
tbody>tr>:nth-child(3){
  width: 1%;
}
tbody>tr>:nth-child(4){
  text-align: center;
  width: 40%;
}
th,td{
  text-align: start;
}
.bg-total{
  background-color: rgba(128, 128, 128, 0.37);
}
