<section class="w-full h-full flex items-center relative option-main">
  <div class="w-full h-full z-50 absolute" (click)="onCloseOptionSection()"></div>
  <div class="w-full flex relative">
    <p class="w-full text-center"><span>{{optionValue.adult}}</span> <b> Adult   </b><span >{{optionValue.child}}</span> <b> Children   </b>  <span>{{optionValue.room}}</span> <b> Room</b></p>
    <div class="option-body" *ngIf="isOptionSection">
      <section>
        <h4>Adult</h4>
        <aside>
          <h3 (click)="valueIncrement('ADULT',false)">-</h3>
          <h4>{{optionValue.adult}}</h4>
          <h3 (click)="valueIncrement('ADULT',true)">+</h3>
        </aside>
      </section>
      <section>
        <h4>Children</h4>
        <aside>
          <h3 (click)="valueIncrement('CHILD',false)">-</h3>
          <h4>{{optionValue.child}}</h4>
          <h3 (click)="valueIncrement('CHILD',true)">+</h3>
        </aside>
      </section>
      <section>
        <h4>Rooms</h4>
        <aside>
          <h3 (click)="valueIncrement('ROOM',false)">-</h3>
          <h4>{{optionValue.room}}</h4>
          <h3 (click)="valueIncrement('ROOM',true)">+</h3>
        </aside>
      </section>
    </div>
  </div>
</section>
