<main class="w-full flex flex-col items-center mt-20">
  <h1 class="text-3xl mb-5">Find Your Vehicle</h1>
  <aside *ngIf="isLoading" class="w-full flex justify-center items-center"><h1>Loading...</h1></aside>
  <section *ngIf="!isLoading" class="w-[90%] flex  justify-center" id="vehicle-section" #parent>
    <section *ngFor="let vehicle of vehicleList;let i=index"  (click)="onSelect(vehicle,input,parent)">
      <section>
        <img
          [src]="'data:image/png;base64,'+vehicle.image"
          alt="Vehicle Image">
      </section>
      <section><p>Brand Name</p><p>{{": "+vehicle.brandName}}</p></section>
      <section><p>Fee 1 Day </p><p>{{": "+vehicle.fee1Day}}</p></section>
      <section><p>Fee 1KM</p><p>{{": "+vehicle.fee1KM}}</p></section>
      <section><p>Fuel 1KM</p><p>{{": "+vehicle.fuel1KM}}</p></section>
      <section>
        <p>Seat</p>
        <div>
          <p>{{": "+vehicle.seat}}</p>
          <input type="checkbox" name="hotelBox" class="border-0 w-[20px]" #input>
        </div>
      </section>

    </section>
  </section>


</main>
