<main class="w-full flex flex-col items-center mt-10">
  <section class="text-center">
    <h1>Find your next stay</h1>
    <p>Search low prices on hotels, homes and much more...</p>
  </section>
  <section class="w-[80%] flex mt-5">
    <section class="search-bar-section w-full flex">
    <section class="w-[30%]">
      <select name="cars"  class=" h-full outline-0 location">
        <option>Location</option>
        <option value="saab">Gampaha</option>
        <option value="audi">Negombo</option>
        <option value="audi">Panadura</option>
        <option value="audi">Colombo</option>
        <option value="opel">Galle</option>
      </select>
    </section>
    <section class="w-[30%]">
      <mat-form-field class="w-full " color="accent">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker" [min]="minDate">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </section>
    <section class="w-[30%] relative">
      <div class="w-full h-full z-50 absolute" (click)="onCloseOptionSection()"></div>
      <div class="w-full flex relative">
        <p class="w-full text-center"><span>{{adultValue}}</span> <b> Adult   </b><span >{{childValue}}</span> <b> Children   </b>  <span>{{roomValue}}</span> <b> Room</b></p>
        <div class="option-body" *ngIf="isOptionSection">
          <section>
            <h4>Adult</h4>
            <aside>
              <h3 (click)="valueIncrement('ADULT',false)">-</h3>
              <h4>{{adultValue}}</h4>
              <h3 (click)="valueIncrement('ADULT',true)">+</h3>
            </aside>
          </section>
          <section>
            <h4>Children</h4>
            <aside>
              <h3 (click)="valueIncrement('CHILD',false)">-</h3>
              <h4>{{childValue}}</h4>
              <h3 (click)="valueIncrement('CHILD',true)">+</h3>
            </aside>
          </section>
          <section>
            <h4>Rooms</h4>
            <aside>
              <h3 (click)="valueIncrement('ROOM',false)">-</h3>
              <h4>{{roomValue}}</h4>
              <h3 (click)="valueIncrement('ROOM',true)">+</h3>
            </aside>
          </section>
        </div>
      </div>
    </section>
    <section>search</section>
    </section>
  </section>

</main>
