<alert-component *ngIf="errors" (onClose)="errHandler()" [header]="errors.header" [message]="errors.message"></alert-component>
<main class="w-full mt-10">
  <main class="w-full flex justify-center items-center flex-col">
    <section class="w-full">
    <summery-component></summery-component>
    </section>
    <section *ngIf="selectVehicle" class="w-[80%] flex  flex-col items-center">
      <section class="w-[80%] flex rounded-xl shadow-xl booking-left-wrapper items-center mb-5 bg-white" id="vehicle-section">
        <section class="w-[45%] p-5 pe-4 flex h-[40vh]"><img [src]="'data:image/png;base64,'+selectVehicle.image" alt="Vehicle-Image" class="rounded-xl w-[100%]"></section>
        <section class="w-[55%] flex flex-col p-5 ps-0 justify-center">
          <section><p>Vehicle Count</p><h1>:</h1><p>{{vehicleCount}}</p></section>
          <section><p>Brand Name</p><h1>:</h1><p>{{selectVehicle.brandName}}</p></section>
          <section><p>Fee 1Day</p><h1>:</h1><p>{{selectVehicle.fee1Day}}</p></section>
          <section><p>Fee 1KM</p><h1>:</h1><p>{{selectVehicle.fee1KM}}</p></section>
          <section><p>Fuel 1KM</p><h1>:</h1><p>{{selectVehicle.fuel1KM}}</p></section>
          <section><p>Seat</p><h1>:</h1><p>{{selectVehicle.seat}}</p></section>
        </section>
      </section>
      <section *ngIf="selectHotel" class="w-[80%] flex rounded-xl shadow-md booking-left-wrapper bg-white ">
        <section class="w-[45%] p-5 pe-4 flex h-[40vh]"><img [src]="'data:image/png;base64,'+selectHotel.image" alt="Hotel-Image" class="rounded-xl w-[100%]"></section>
        <section class="w-[55%] flex flex-col p-5 ps-0 justify-center">
          <section><p>Hotel Name</p><h1>:</h1><p>{{selectHotel.name}}</p></section>
          <section><p>Star Rate</p><h1>:</h1><p>{{selectHotel.starRate}}</p></section>
          <section><p>Location</p><h1>:</h1><p>{{selectHotel.location}}</p></section>
          <section><p>Email</p><h1>:</h1><p>{{selectHotel.email}}</p></section>
          <section><p>Contact No</p><h1>:</h1><p>{{selectHotel.tel}}</p></section>
          <section>
            <p>Option</p>
            <h1></h1>
            <select class="border border-blue-50 outline-0" (change)="onChange(+f.value)" #f [disabled]="bookingBtn.status" *ngFor="let hotel of selectHotel.hotelOption">
              <option [value]="hotel.option1">Option1 - {{hotel.option1}}</option>
              <option [value]="hotel.option2">Option2 - {{hotel.option2}}</option>
              <option [value]="hotel.option3">Option3 - {{hotel.option3}}</option>
              <option [value]="hotel.option4">Option4 - {{hotel.option4}}</option>
            </select>
          </section>
        </section>
      </section>
      <section class="w-[80%] flex justify-center h-full pt-10">
        <section class="w-1/4 flex justify-center">
          <button mat-flat-button color="primary"  class="w-full text-3xl" style="padding: 30px" [disabled]="bookingBtn.status" (click)="onAddBooking()">{{bookingBtn.name}}</button>
        </section>
      </section>
    </section>
    <section class="w-full mt-10">
      <payment-component ></payment-component>
    </section>

  </main>
</main>
